.ab-title {
    display: flex;
    align-items: center;
    .text {
        &.text-b {
            color: #000;
        }
        margin-left: .25rem;
    }
    &.lit {
        color: $secondary;
        font-size: 1.3rem;
    }
    &.big {
        color: $primary;
        font-size: 1.5rem;
    }
}